{%  extends 'userapp/base1.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <style>
        * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #b3c6ff;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
    #mySearch {

  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

    </style>
    <div class="container-fluid pt-5"></div>
    <div class="container-fluid pt-5 pb-3">
    <h3 class="display-4 text-center" >Your Groups</h3>
    <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Search Group">

    </div>
<div class="row" id="myMenu">
    {% for group in groups %}
            <div class="column pb-3">
            <a class="text-decoration-none text-dark" href="{% url 'group-home' group.group.id %}">
                <div class="card" id="group">
                    <img class="rounded-circle" style="align-content: center" height="60" width="60" src="{{ group.group.image.url }}" alt="">
                    <h4>{{ group.group.name }}</h4>
                    <p>{{ group.group.desc }}</p>
                </div>
            </a>
            </div>
    {% endfor %}
    </div>
<script>
function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i;
  input = document.getElementById("mySearch");
  filter = input.value.toUpperCase();
  ul = document.getElementById("myMenu");
  li = ul.getElementsByTagName("div");

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("h4")[0];
    if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>

{% endblock content %}