{% extends "homepage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <div class="container p-5">
        <div class="container p-5">
            <div class="row p-5 shadow-lg bg-light">
                <div class="col p-5">
                   <div class="container p-4">
                        <h4>Change your password </h4>
                   </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form|crispy  }}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary justify-content-center">Change Password</button>
                        </div>
                    </form>
                </div>
                <div class="col p-5 border-left">
                    Your account is safe unless and until you are not able to access your registered email.
                </div>
            </div>
        </div>
    </div>
{% endblock content %}