{% extends "groups/base1.html" %}
{% load static %}

{% block content %}
<div class="container-fluid pt-5">
<form style="border: none" action="{% url 'post-form' id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div style="padding-top: 100px;padding-left: 200px;">
        <div style="padding-bottom: 15px;">
            Content: <textarea name="content" id="" cols="30" rows="1"></textarea>
        </div>
        <div>
            <label for="image">Select image:</label>
            <input type="file" name="image" accept="image/*" />
        </div>
        <div>
            <button type="submit">Post</button>
        </div>
    </div>


</form>
</div>
{% endblock %}
