{% extends "groups/base1.html" %}
{% load static %}
{% block content %}

    <div class="container-fluid pt-5 py-0 d-flex justify-content-end">
            <a href="{% url 'mypost' iid %}">MyPost</a>
    </div>
  <div class="container-fluid py-0" style="overflow-y: scroll;height: 630px">
  {% for post in posts %}

    <article class=" container px-5 media content-section" style="padding-bottom:50px;">
      <div class = "media-body">
        <div class="article-metadata">
          <a class="mr-2" href="/announcements/viewprofile/{{ post.author }}/">{{ post.author }}</a>
          <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <img class="rounded circle shadow-lg" height="400" width="400" src="{{ post.image.url }}">
        <br>
        <p class="article-content" style="padding-left: 30px;font-size: larger;">{{ post.content }}</p>
        <p class="article-content" style="padding-left: 30px;font-size: larger;">Likes : {{ post.likes }}</p>
        <div style="padding-left: 30px;">
          <form style="border: none" action="{% url 'like' iid %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="objid" value = {{ post.id }} />
            {% if post.id in liked %}
              <p>You have already <button type="submit" style="height: 35px;width: 65px;">Liked </button>this post</p>
            {% else %}
            <p><button type="submit" style="height: 35px;width: 65px;">Like</button> this post</p>
            {% endif%}
            </form>
        </div>
        <form style="border:none" action="{% url 'add-comment' iid %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <textarea name="content" id="" cols="30" rows="1"></textarea>
          <input type="hidden" name="objid" value = {{ post.id }} />
          <button type="submit">Comment</button>
        </form>
        <h5>Comments : </h5>
        {% for com in comments %}
          {% if com.objid == post.id %}

          <div style="padding-left: 50px;">
            <div class="article-metadata">
              <a class="mr-2" href="/announcements/viewprofile/{{ com.author }}/">{{ com.author }}</a>
              <small class="text-muted">{{ com.date_posted }}</small>
            </div>
            <div style="padding-left: 50px;">
              <p class="article-content">{{ com.content }}</p>
            </div>
          </div>

          {% endif %}
        {% endfor%}


      </div>
    </article>


  {% endfor %}
  </div>
  
{% endblock %}