{% extends "groups/base1.html" %}
{% load static %}


{% block content %}
<div class="container-fluid py-0 d-flex justify-content-end">
        <a href="{% url 'post-form' id %}">New Post</a>
</div>
<!-- !-->
  {% for post in posts %}
  
    <article class="media content-section" style="padding-left:250px;padding-bottom:50px">
      <div class = "media-body">
        <div class="article-metadata">
          <a class="mr-2" href="/announcements/viewprofile/{{ post.author }}/">{{ post.author }}</a>
          <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <img class="rounded circle shadow-lg" height="400" width="400" src="{{ post.image.url }}">
        <br>
        <form action="{% url 'post-edit' id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="objid" value = {{ post.id }} />
            <p class="article-content" style="padding-left: 30px;font-size: larger;">{{ post.content }}</p>
            <textarea name="content" id="" cols="30" rows="1"></textarea><button type="submit">Edit caption</button>
            </form>
        <p class="article-content" style="padding-left: 30px;font-size: larger;">Likes : {{ post.likes }}
        <form action="{% url 'post-delete' id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="objid" value = {{ post.id }} />
            <button type="submit">Delete this post </button>
          </form>
        </p>
        <h5>Comments : </h5>
        {% for com in comments %}
          {% if com.objid == post.id %}
          
          <div style="padding-left: 50px;">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'view_profile' com.author %}">{{ com.author }}</a>
              <small class="text-muted">{{ com.date_posted }}</small>
            </div>
            <div style="padding-left: 50px;">
              <p class="article-content">{{ com.content }}</p>
            </div>
          </div>

          {% endif %}
        {% endfor%}


      </div>
    </article>
    
  
  {% endfor %}
  
{% endblock %}