{% extends 'homepage/base.html' %}
{% load static %}
{% block content %}
    <div class="container p-5">
        <div class="container p-5">
                <div class="row">
		<div class="col-sm-4">
   <div class="card text-white bg-primary mb-3 shadow-lg" style="max-width: 18rem;">
  <div class="card-header">Tarun</div>
  <div class="card-body">
    <h5 class="card-title">
        <a class="text-decoration-none text-white" href=" https://instagram.com/ig_tarunteja?igshid=1w3i9qydqvzo5" style="color:red"> instagram link </a></h5>
    <p>                      </p>
  </div>
</div>
</div>

	<div class="col-sm-4">
<div class="card text-white bg-secondary mb-3 shadow-lg" style="max-width: 18rem;">
  <div class="card-header">Balaram</div>
  <div class="card-body">
    <h5 class="card-title">   <a class="text-decoration-none text-white" href=" https://instagram.com/balaram__singh?igshid=ft0rtq6dd821"> instagram link </a>         </h5>
    <p>              </p>
  </div>
</div>
</div>

	<div class="col-sm-4">
<div class="card text-white bg-success mb-3 shadow-lg" style="max-width: 18rem;">
  <div class="card-header">Shankar</div>
  <div class="card-body">
    <h5 class="card-title">   <a class="text-decoration-none text-white" href=" https://instagram.com/shankar_sreenu?igshid=u3l57w3s6fnd"> instagram link </a>      </h5>
    <p >               </p>
  </div>
</div>
</div>
</div>


	<div class="row">
		<div class="col-sm-4">
<div class="card text-white bg-danger mb-3 shadow-lg" style="max-width: 18rem;">
  <div class="card-header">Mani Tej</div>
  <div class="card-body">
    <h5 class="card-title"> <a class="text-decoration-none text-white" href=" https://instagram.com/maniteja_9?igshid=1jdq8kz71cubu" style="color:green"> instagram link </a>    </h5>
    <p>              </p>
  </div>
</div>
</div>

	<div class="col-sm-4">
<div class="card text-white bg-warning mb-3 shadow-lg" style="max-width: 18rem;">
  <div class="card-header">srujan</div>
  <div class="card-body">
    <h5 class="card-title">   <a class="text-decoration-none text-white" href=" https://instagram.com/srujan_0408?igshid=o37pf72iltes"> instagram link </a>    </h5>
    <p>     </p>
  </div>
</div>
</div>
	<div class="col-sm-4">
<div class="card text-white bg-info mb-3 shadow-lg" style="max-width: 18rem;">
  <div class="card-header">prem  </div>
  <div class="card-body">
    <h5 class="card-title"> <a class="text-decoration-none text-white" href=" https://instagram.com/prem_rathan7?igshid=10vjwx96dfd7x" style="color:green"> instagram link</a>     </h5>
    <p >                         </p>
  </div>
</div>
</div>
</div>






            </div>
        </div>

{% endblock content %}
