{% extends "userapp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container p-5">
        <div class="container p-5">
            <div class="container p-5">
                <div class="container p-5 ">
                    <div class="container p-5 shadow-lg bg-light" data-aos="zoom-out-right" style="opacity: 0.8">
                        <form  action="" method="post" enctype = "multipart/form-data">
                     {% csrf_token %}
                    <fieldset class="form-group">
                      {{ b_form}}
                    </fieldset>
                    <button class="btn btn-info" type="submit" data-aos="fade-right">change</button>
                </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}